
.input-container{
    background-color: #f5f6fa;
    height: 93vh;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
   
}
form{
    background-color: #ffff;
    padding: 2rem 3rem;
    border-radius: 15px;
    box-shadow: rgba(100, 100, 111, 0.2) 0px 7px 29px 0px;
    /* margin: 2rem; */
}
.saved-text{
    color: #cc8e35;
}
.button{
    text-align: center;
    margin-top:1.5rem;
}
.btn{
   color: #ffff;
    background-color: #7e81e4; 
}
.btn:hover{
    color: #ffff;
  transform: translateY(-5px);
    background-color: #3c40c6;
    box-shadow: rgba(0, 0, 0, 0.1) 0px 4px 12px;
}